// Wishlist
color: #013220;
 font-size: 30px;
 font-family:Gilroy;
 font-weight:500;
 word-wrap:break-word
---
// Cart
color: #013220;
 font-size: 30px;
 font-family: Gilroy;
 font-weight: 500;
 word-wrap: break-word
---
// Shop
color: #013220;
 font-size: 30px;
 font-family: Gilroy;
 font-weight: 500;
 word-wrap: break-word
---
// Sign In/ Register
color: white;
 font-size: 30px;
 font-family: Gilroy;
 font-weight: 500;
 word-wrap: break-word
---
// Home 
color: #013220;
 font-size: 30px;
 font-family: Gilroy;
 font-weight: 500;
 word-wrap: break-word
---
// EcoRoots
color: white;
 font-size: 176px;
 font-family: Original;
 font-weight: 100;
 word-wrap: break-word
---
// Sustainable living simplified
color: white;
 font-size: 45px;
 font-family: Original;
 font-weight: 100;
 word-wrap: break-word
---
// Shop Now
color: #013220;
 font-size: 32px;
 font-family: Gilroy;
 font-weight: 500;
 word-wrap: break-word
---
// Zero-Waste Products
color: #E9FAFD;
 font-size: 44px;
 font-family: Gilroy;
 font-weight: 500;
 word-wrap: break-word
---
// Sustainable Home Essentials
color: #E9FAFD;
 font-size: 44px;
 font-family: Gilroy;
 font-weight: 500;
 word-wrap: break-word
---
// Sustainable Fashion
color: #E9FAFD;
 font-size: 44px;
 font-family: Gilroy;
 font-weight: 500;
 word-wrap: break-word
---
// Personal Care
color: #E9FAFD;
 font-size: 44px;
 font-family: Gilroy;
 font-weight: 500;
 word-wrap: break-word
---
// BEST SELLERS
color: #E9FAFD;
 font-size: 65px;
 font-family: Original;
 font-weight: 400;
 word-wrap: break-word
---
// Eco-Friendly Favorites Everyone Loves
color: white;
 font-size: 35px;
 font-family: Gilroy;
 font-weight: 500;
 word-wrap: break-word
---
// Handmade Natural Soap Bars<br/>$9<br/><br/>
color: black;
 font-size: 30px;
 font-family: Gilroy;
 font-weight: 500;
 word-wrap: break-word
---
// Swipe through for more exciting deals!
color: #333333;
 font-size: 45px;
 font-family: Gilroy;
 font-weight: 600;
 word-wrap: break-word
---
// ABOUT US
color: white;
 font-size: 40px;
 font-family: Original;
 font-weight: 400;
 text-decoration: underline;
 word-wrap: break-word
---
// At EcoRoots, we're passionate about making sustainable living simple and accessible for everyone. Our eco-friendly marketplace is dedicated to providing plastic-free, zero-waste products that help reduce your environmental footprint without compromising on quality or style. From everyday essentials to personal care items, each product in our collection is carefully curated to ensure it's ethically sourced, sustainable, and crafted with the planet in mind.<br/>We believe that small changes can create a big impact, and our mission is to empower individuals to make conscious choices that protect the Earth for future generations. Join us in our journey towards a cleaner, greener world—one eco-friendly product at a time.
color: #E9FAFD;
 font-size: 33px;
 font-family: Gilroy;
 font-weight: 400;
 word-wrap: break-word
---
// COMPANY<br/>
color: #18291E;
 font-size: 33px;
 font-family: Gilroy;
 font-weight: 400;
 word-wrap: break-word
---
// <br/>
color: white;
 font-size: 33px;
 font-family: Gilroy;
 font-weight: 400;
 word-wrap: break-word
---
// About Us<br/>Sustainability<br/>Discover Revive<br/>Careers<br/>Privacy Policy<br/>Terms<br/>
color: #18291E;
 font-size: 28px;
 font-family: Gilroy;
 font-weight: 600;
 word-wrap: break-word
---
// Get the latest news from us
color: #18291E;
 font-size: 33px;
 font-family: Gilroy;
 font-weight: 400;
 word-wrap: break-word
---
// CONTACT US <br/>
color: #18291E;
 font-size: 33px;
 font-family: Gilroy;
 font-weight: 400;
 word-wrap: break-word
---
// <br/>
color: white;
 font-size: 33px;
 font-family: Gilroy;
 font-weight: 400;
 word-wrap: break-word
---
// +1(844)326-6000<br/><br/>Email us: ecoroots@gmail,com<br/><br/>Mon-Fri 9am-3pm IST<br/>
color: #18291E;
 font-size: 28px;
 font-family: Gilroy;
 font-weight: 600;
 word-wrap: break-word
---
// CUSTOMER<br/>
color: #18291E;
 font-size: 33px;
 font-family: Gilroy;
 font-weight: 400;
 word-wrap: break-word
---
// <br/>
color: white;
 font-size: 33px;
 font-family: Gilroy;
 font-weight: 400;
 word-wrap: break-word
---
// Start a Return<br/>Return Policy<br/>FAQ<br/>Catalogs and Mailers<br/>
color: #18291E;
 font-size: 28px;
 font-family: Gilroy;
 font-weight: 600;
 word-wrap: break-word
---
// Enter your email address
color: #013220;
 font-size: 33px;
 font-family: Gilroy;
 font-weight: 400;
 word-wrap: break-word
---
// By signing up, you agree to our 
color: #18291E;
 font-size: 28px;
 font-family: Gilroy;
 font-weight: 600;
 word-wrap: break-word
---
// Privacy Policy
color: #18291E;
 font-size: 28px;
 font-family: Gilroy;
 font-weight: 600;
 text-decoration: underline;
 word-wrap: break-word
---
//  and 
color: #18291E;
 font-size: 28px;
 font-family: Gilroy;
 font-weight: 600;
 word-wrap: break-word
---
// Terms of Service.
color: #18291E;
 font-size: 28px;
 font-family: Gilroy;
 font-weight: 600;
 text-decoration: underline;
 word-wrap: break-word
---
// Subscribe
color: white;
 font-size: 28px;
 font-family: Gilroy;
 font-weight: 400;
 word-wrap: break-word