{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>

  .view-link:hover,
  .view-link {
    text-decoration: none;
    color: #18291e;
  }

  .content {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 30%;
    z-index: 99;
  }

  .img-box:hover img {
    opacity: 0.6;
  }

  .img-box:hover .content {
    opacity: 5;
  }

  body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100%;
    background-color: #E9FAFD;
    ;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .rating i {
    font-size: 16px;
    color: gold;

  }

  .custom-col {
    padding-left: 25px;
    padding-right: 25px;
  }


  .icon i {
    font-size: 19px;
    padding: 4px;
  }

  .field {
    padding: 2px;
  }

  .button {
    background-color: #18291e;
    color: white;
    width: 9em;
    height: 3em;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
  }

  .nav-link {
    margin-left: 40px;
    font-size: 17px;
  }

  .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }
  .cross-link:hover,
  .cross-link {
    text-decoration: none;
    color: black;
  }
</style>
{% endblock style %}

{% block content %}
{% include "navbar.html" %}
<section>
  
  <div class="container-fluid px-5">
    <div class="row px-5">
      <div class="w-100 text-center">
        <h1 class=" w-100 p-3"
          style="font-weight:bold; font-size: 40px; ">
          {{heading}}</h1>
      </div>
      {% for product in products %}
      <div class="col-md-4 ">

        <div class="img-box">
          <img src="{% static product.product_image %}" class="img-fluid rounded mt-3"
            style="height:450px; width:400px;" alt="Responsive image">
          <div class="content">
            <h5><a class="view-link" href="{% url 'product_detail' product.product_id %}"><b>View More</b> <i
                  class="fa-solid fa-magnifying-glass"></i></a></h5>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-md-7">
            <h1 style="font-size: 17.5px; ">{{ product.product_name }}</h1>
          </div>
          <div class="rating col-md-5">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </div>

        </div>
        <div class="row">
          <div class="col-md-7">
            <p style="color:green; font-size: 19px;">${{product.price}}</p>
          </div>
          <div class="col-md-5  icon">
            <a class="cross-link" href=" {% url 'add_to_cart' product.product_id %} "><i class="fas fa-shopping-cart"></i></a> 
            <a class="cross-link" href=" {% url 'add_to_wishlist' product.product_id %}"><i class="fa-regular fa-heart"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}





    </div>
  </div>
</section>

{% endblock content %}