{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
    ::-webkit-scrollbar {
        display: none;
    }

    .field {
        padding: 2px;
    }

    .button {
        background-color:rgb(7, 3, 14);
        width: 9em;
        height: 2em;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        color:white;
        
    }

    body {

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 200;
        width: 100%;
        height: 100%;
        overflow: hidden;

    }
</style>
{% endblock style %}

{% block content %}

<div class="main" style="background-color: #18291e">
    {% if messages %}
    {% for msg in messages %}
    <div style="position: absolute;" class="alert alert-info w-100" role="alert">
        {{msg}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row text-white" >

        <div class="col-md-6">
            <h1 class="text-center p-4" style="font-size: 58px">
                <b>Get Started Now</b>
            </h1>
            <form class="row col-md-6 ml-auto mr-auto" method="POST">
                {% csrf_token %}
                <div class="field form-group col-md-12">
                    <label for="inputname" class="form-label">Name</label>
                    <input type="text" name="name1" class="form-control" placeholder="Enter your name" id="inputname"
                        required />
                </div>

                <div class="field form-group col-md-12">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter your email"
                        id="inputEmail4" required />
                </div>

                <div class="field form-group col-md-12">
                    <label for="inputPassword4">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword4"
                        placeholder="Enter the Password" />
                </div>

                <div class="mb-3 w-100">
                    <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                    <textarea class="form-control" name="address"  id="exampleFormControlTextarea1" rows="3" placeholder="Enter your address"></textarea>
                  </div>               
                  <div class="mb-3 w-100">
                    <label for="formFile" class="form-label">Profile photo</label>
                    <input  name="photo" style="background-color: #18291e; border:none;" class=" text-white form-control" type="file" id="formFile">
                  </div>

                <div class="field pt-4 col-md-12">
                    <button type="submit" name="submit_button" class="button w-100">
                        Sign Up
                    </button>
                </div>
                <p style="font-size: 16px; padding: 3px;">Already have an account? <a href="{% url 'login' %}">Log
                        In</a></p>
            </form>
        </div>
        <div class="col-md-6">
            <img src=" {% static 'images/bg-register.png' %} " style="width: 100%; height: 100%" />
        </div>
    </div>
</div>
{% endblock content %}

