{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
  .dancing-script-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .alegreya-font {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  body {
    font-family: Gilroy;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #E9FAFD;
    ;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .rating i {
    font-size: 16px;
    color: gold;

  }

  .field {
    padding: 2px;
  }

  .button {
    background-color: #18291e;
    color: white;
    width: 9em;
    height: 3em;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }

  .nav-link {
    margin-left: 40px;
    font-size: 17px;
  }

  .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }
</style>

{% endblock style %}

{% block content %}

{% include "navbar.html" %}
<section>
  <div class="w-100">
    <h1 class=" text-white w-100 p-3 pl-5"
      style="font-weight:200; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 30px; background-color: #18291e;">
      {{heading}}</h1>
  </div>

  <div class="container">
    <div class="row ">

      <div class="col-md-6 my-auto">
        <img src=" {% static product.product_image %} " class="img-fluid rounded mt-3"
          style="height:520px; width:400px;" alt="Responsive image">
      </div>

      <div class="col-md-6 my-auto">
        <h1 style="font-size: 35px;">{{product.product_name}}</h1>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>

        <p style="color:green; font-size: 25px;">${{product.price}}</p>
        <p style="font-size: 15px;">{{product.description}}</p>
        <ul style="font-size: 15px;">
          <li><strong>Eco-Certifications : </strong> {{product.eco_friendly_certifications}}</li>
          <li class="pt-1"><strong>Stock : </strong>{{product.stock}}</li>
          <li class="pt-1"><strong>Material : </strong>{{product.material}}</li>
          <li class="pt-1"><strong>Category : </strong> {{product.category}}</li>

        </ul>
        <div class="row pt-4">
          <div class="col-md-6">
            <form method="POST" action=" {% url 'add_to_wishlist' product.product_id %} ">
              {% csrf_token %}
            <button type="submit" name="submit_button" class="button w-100">
              ADD TO WISHLIST
            </button>
          </form>
          </div>
          <div class="col-md-6">
            <form method="POST" action=" {% url 'add_to_cart' product.product_id %} ">
              {% csrf_token %}
            <button type="submit" name="submit_button" class="button w-100">
              ADD TO CART
            </button>
            </form>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}